@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
  --purple: #8d3dae;
}

* {
 box-sizing: border-box 
}

html, body {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--purple);
  font-weight: 600;
  color: var(--light);
}

.nested {
  border: solid 2px white;
  padding: 2rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  border: solid 2px white;
}